[{*.fs,*.fsx}]
indent_size=2
indent_style=space
fsharp_multiline_block_brackets_on_same_column=true
fsharp_multi_line_lambda_closing_newline=true
fsharp_disable_elmish_syntax=true
fsharp_alternative_long_member_definitions=true
